<% content_for(:title) { "Project Status Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="narrable" data-view="List" data-unordered="true" data-title="Narrable" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="menume" data-view="List" data-unordered="true" data-title="MenuMe" data-moreinfo=""></div>
    </li>
  </ul>
</div>
